@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
} */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

/* Header  wrapeer*/


a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
} 

p{
    margin: 0;
}

p + p{
    margin-top: 15px;
}

img {
   max-width: 100%; 
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  
    background-color: #f6762c;
    border-radius: 5px;

    transition: opacity 0.3s;

}

.btn:hover {
    opacity: 0.8;

}

.header {
    padding: 25px 0;
    position: relative;
    z-index: 10;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}
.header__nav {
   
}
.header__list {
    display: flex;
    gap: 30px;
}
.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}


/* Section wrapper */
.main {

}





.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 250px 0;

   background-image: url("./images/welcome-bg.jpg"); 
   background-repeat: no-repeat;   /* Чтобы картинка не повторялась */
   background-size: cover;   /* Рястигивает на всю ширину */
   background-position: center;
}

.welcome__inner-wrapper {
    width: 550px;
} 


.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desk {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

.btn {
}


34мин
/* Список Еды */
.food-list {
    padd: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    gap:40px 10;

}

.food-list__card {
width: 260px;

overflow: hidden;
text-align: center;

background-color: #312f30;
border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list_text-wrapper {
    padding: 30px 20px;

}


.food-list__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}


/* Burder_________Order */

.order {
    background-color: #312f30;
    padding: 60px 0;
}

.container {

}

.order__img {

}

.order__text {

}

.order__title {
    font-size: 44px;
}

.order__desc {
    opacity: 0.7;

}

.order__price {

}

.order__old- {

}

.btn {

}
